<% if (!user) {%>
    <div class="w3-top">
        <div class="w3-bar w3-red w3-card w3-left-align w3-large">
            <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
            <a href="/" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Home</a>
            <a href="/story" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Stories</a>
            <a href="/story/posts" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">My Posts</a>
            <a href="/user/logIn" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white w3-right">Log In</a>
            <a href="/user/signUp" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white w3-right">Sign Up</a>
        </div>
    </div>
<% } else { %>
    <div class="w3-top">
            <div class="w3-bar w3-red w3-card w3-left-align w3-large">
                <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
                <a href="/" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
                <a href="/story" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Stories</a>
                <a href="/story/posts" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">My Posts</a>
                <form action="/user/<%= user.id %>/logOut" method="POST">
                    <input type="submit" value="Log Out" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white w3-right">
                </form>
                <a class="w3-bar-item w3-hide-small w3-padding-large w3-right"><%= user.name %></a>
            </div>
        </div>
<% } %>