<!DOCTYPE html>
<html lang="en">
<title>Blog HQ</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>

<%- include('partials/navbar', {user}) %>

<header class="w3-container w3-red w3-center" style="padding:128px 16px">
    <h1 class="w3-margin w3-jumbo">STORIES</h1>
</header>

<div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-card-4" style="width:30%">
        <div class="w3-container w3-center">
                <p>Picture 1</p>
        </div>
    </div>
    <div class="w3-card-4" style="width:30%">
        <div class="w3-container w3-center">
                <p>Picture 2</p>
        </div>
    </div>
    <div class="w3-card-4" style="width:30%">
        <div class="w3-container w3-center">
                <p>Picture 3</p>
        </div>
    </div>
    <div class="w3-card-4" style="width:30%">
        <div class="w3-container w3-center">
                <p>Picture 4</p>
        </div>
    </div>
    <div class="w3-card-4" style="width:30%">
        <div class="w3-container w3-center">
                <p>Picture 5</p>
        </div>
    </div>
    <div class="w3-card-4" style="width:30%">
        <div class="w3-container w3-center">
                <p>Picture 6</p>
        </div>
    </div>
    <div class="w3-card-4" style="width:30%">
        <div class="w3-container w3-center">
                <p>Picture 7</p>
        </div>
    </div>
    <div class="w3-card-4" style="width:30%">
        <div class="w3-container w3-center">
                <p>Picture 8</p>
        </div>
    </div>
    <div class="w3-card-4" style="width:30%">
        <div class="w3-container w3-center">
                <p>Picture 9</p>
        </div>
    </div>
</div>

<%- include('partials/footer') %>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
    let nav = document.getElementById("navDemo");
    if (nav.className.indexOf("w3-show") == -1) {
        nav.className += " w3-show";
    } else {
        nav.className = nav.className.replace(" w3-show", "");
    }
}
</script>

</body>
</html>